#modules-form{
	display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
}

#modules-form div.parent{
	width:200px;
	margin: 20px;
}
#modules-form div.panel-child{
	margin: 0 20px;
}
#modules-form div.panel-child:last-child{
	margin-bottom: 10px;
}
#modules-form div.form-group.text-center{
	margin-top: 15px;
  flex: 0 0 100%;
}
